@if (this.thread !== undefined && this.author !== undefined) {
	<section class="container">
		<h2>{{ this.thread.title }}</h2>
		<p>{{ this.thread.body }}</p>
		@if (this.thread.authorId === (this.currentUid | async)) {
			<button [routerLink]="['/threads', thread.id, 'edit']">Edit</button>
			<button type="button" class="danger" (click)="delete()">Delete</button>
		}
		<a [routerLink]="['/profile', this.thread.authorId]" class="title">Author: {{ this.author.displayName }}</a>
	</section>
	<a [routerLink]="['/threads', this.thread.id, 'add-post']" class="title">Add post to thread</a>
	<app-posts-list></app-posts-list>
} @else {
	<p>Loading…</p>
}
