@if (!(this.loading$ | async)) {
	<section class="threads-list">
		@if (threads.length > 0) {
			<ul>
				@for (t of threads; track t.id) {
					<li class="thread-item">
						<a [routerLink]="['/threads', t.id]" class="title">{{ t.title }}</a>
						<p class="excerpt">{{ t.body }}</p>
						<small class="meta">
							@if (t.updatedAt) {
								• Updated: {{ t.updatedAt.toDate() | date:'medium' }}
							}
							@if (t.createdAt) {
								• Created: {{ t.createdAt.toDate() | date:'medium' }}
							}
						</small>
						@if (t.tags) {
							<div class="tags">
								@for (tag of t.tags; track tag) {
									<span class="tag">{{ tag }}</span>
								}
							</div>
						}
					</li>
				}

			</ul>
			@if (this.profileCard && this.userThreadsCount > this.limitCount) {
				<a [routerLink]="['/profile', this.uid, 'threads']" class="title">View all threads</a>
			}
		} @else {
			<p>No threads to display.</p>
		}
	</section>
}