<form (ngSubmit)="submit()" [formGroup]="this.form">
	<div>
		<label for="email">Email</label>
		<input formControlName="email" type="email" id="email" [class.is-invalid]="this.form.get('email')?.invalid && this.form.get('email')?.touched"/>

		@if (this.form.get('email')?.touched && this.form.get('email')?.invalid) {
			<small>
				@if (this.form.get('email')?.errors?.['required']) {
					<span>Email is required.</span>
				} @else if (this.form.get('email')?.errors?.['email']) {
					<span>Enter a valid email.</span>
				}
			</small>
		}
	</div>

	<div>
		<label for="password">Password</label>
		<input formControlName="password" type="password" id="password" [class.is-invalid]="this.form.get('password')?.invalid && this.form.get('password')?.touched"/>

		@if (this.form.get('password')?.touched && form.get('password')?.invalid) {
			<small>
				@if (this.form.get('password')?.errors?.['required']) {
					<span>Password is required.</span>
				} @else if (this.form.get('password')?.errors?.['minlength']) {
					<span>Minimum length is {{ this.form.get('password')?.errors?.['minlength']?.requiredLength }} characters.</span>
				}
			</small>
		}
	</div>

	<button [disabled]="this.loggingIn || this.form.invalid" type="submit">
		{{ this.loggingIn ? 'Signing in...' : 'Login' }}
	</button>

	@if (this.error) {
		<p style="color:#b00020">{{ error }}</p>
	}
</form>
