@if (!(loading$ | async)) {
	@if (this.error) {
		<div class="error-message">{{ this.error }}</div>
	}
	<div class="threads-container">
		@if (this.threads.length > 0) {
			@for (t of threads; track t.id) {
				<a [routerLink]="['/threads', t.id]">
					<div class="thread-item">
						<span>{{ t.title }}</span>
						<span class="info"> · {{ t.body }}</span>
						<span class="info"> · {{ t.replyCount || 0 }} {{ 'reply' | pluralize: t.replyCount : 'replies' }}</span>
						@if (!this.inProfile) {
							<span class="title">  · Author: {{ t?.authorName }}</span>
						}
					</div>
				</a>
			}
			@if (this.threadsLimited) {
				<a [routerLink]="['/profile', this.profileCardUser!.uid, 'threads']" class="title">View all threads</a>
			}
		} @else {
			<p>No threads found.</p>
		}
	</div>

}
