@if (!(loading$ | async)) {
	@if (error) {
		<div class="error">{{ error }}</div>
	} @else if (threads.length > 0) {
		@for (t of threads; track t.id) {
			<div>
				<a [routerLink]="['/threads', t.id]">{{ t.title }}</a>
				<span> · {{ t.body }}</span>
				<span> · {{ t.replyCount || 0 }} {{ 'reply' | pluralize: t.replyCount : 'replies' }}</span>
				@if (!inProfile) {
					<a [routerLink]="['/profile', t.authorId]" class="title"> · Author: {{ t.authorName }}</a>
				}
			</div>
		}
	} @else {
		<div>No threads found.</div>
	}
}
