<div [@fadeAnimation]="animationState">
	@let initialized = this.initialized$ | async;
	@if (initialized) {
		@if (this.error) {
			<div class="error-message">{{ this.error }}</div>
		} @else {
			<header class="nav">
				<a routerLink="/threads">Threads</a>
				@let loggedIn = this.authService.user$ | async;

				@if (loggedIn) {
					<a routerLink="/threads/create">Create Thread</a>
					<a routerLink="/my-profile/threads">My Threads</a>
					<a routerLink="/my-profile/posts">My Posts</a>
				}
				<span class="spacer"></span>
				@if (loggedIn) {
					<a routerLink="/my-profile">Profile</a>
					<button type="button" (click)="logout()" [disabled]="this.signingOut">Logout</button>
				} @else {
					<a routerLink="/login">Login</a>
					<a routerLink="/register">Register</a>
				}
			</header>

			<main>
				<router-outlet></router-outlet>
			</main>

			<footer class="site-footer">
				<div class="footer-content">
					<p>© 2025 Your Forum App. All rights reserved.</p>
				</div>
			</footer>

		}
	}
</div>
