@if (!(this.loading$ | async)) {

	<form [formGroup]="this.form" (ngSubmit)="submit()">
		<label for="body">Edit Post</label>
		<textarea
				id="body"
				formControlName="body"
				rows="6"
				[class.is-invalid]="this.form.get('body')?.invalid && this.form.get('body')?.touched"
		></textarea>
		@if (this.form.get('body')?.touched && this.form.get('body')?.invalid) {
			<div class="validation-errors">
				@if (this.form.get('body')?.errors?.['required']) {
					<div>
						Post body is required.
					</div>
				}
				@if (this.form.get('body')?.errors?.['minlength']) {
					<div>
						Minimum length is {{ this.form.get('body')?.errors?.['minlength']?.requiredLength }} characters.
					</div>
				}
			</div>
		}
		<button type="submit" [disabled]="this.saving || this.form.invalid">
			{{ this.saving ? 'Saving...' : 'Save Changes' }}
		</button>

		@if (this.error) {
			<p style="color:#b00020">{{ error }}</p>
		}
	</form>
}