<section class="container">
	<h1>Create Thread</h1>

	<form (ngSubmit)="submit()" [formGroup]="form">
		<label for="title">
			Title
		</label>
		<input formControlName="title" id="title" type="text"/>


		@if (form.controls['title'].touched && form.controls['title'].invalid) {
			<small class="error">
				@if (form.controls['title'].errors?.['required']) {
					Title is required.
				}
				@if (form.controls['title'].errors?.['minlength']) {
					Title must be at least 6 characters.
				}
			</small>
		}

		<label for="body" id="body-label">
			Body
		</label>
		<textarea formControlName="body" id="body"></textarea>


		@if (form.controls['body'].touched && form.controls['body'].invalid) {
			<small class="error">
				@if (form.controls['body'].errors?.['required']) {
					Body is required.
				}
				@if (form.controls['body'].errors?.['minlength']) {
					Body must be at least 20 characters.
				}
			</small>
		}
		<label for="tags" id="tags-label">Tags</label>
		<input id="tags" type="text" formControlName="tags" placeholder="comma,separated,tags"/>

		<button [disabled]="form.invalid" type="submit">Create</button>
	</form>
</section>
