<section class="container">
	<h1>Create Thread</h1>

	<form (ngSubmit)="submit()" [formGroup]="this.form">
		<label for="title">
			Title
		</label>
		<input formControlName="title" id="title" type="text" [class.is-invalid]="this.form.get('title')?.invalid && this.form.get('title')?.touched"/>


		@if (this.form.controls['title'].touched && this.form.controls['title'].invalid) {
			<small class="error">
				@if (this.form.controls['title'].errors?.['required']) {
					Title is required.
				} @else if (this.form.controls['title'].errors?.['minlength']) {
					<span>Minimum length is {{ this.form.get('title')?.errors?.['minlength']?.requiredLength }} characters.</span>
				}
			</small>
		}

		<label for="body" id="body-label">
			Body
		</label>
		<textarea formControlName="body" id="body" [class.is-invalid]="this.form.get('body')?.invalid && this.form.get('body')?.touched"></textarea>


		@if (this.form.controls['body'].touched && this.form.controls['body'].invalid) {
			<small class="error">
				@if (this.form.controls['body'].errors?.['required']) {
					Body is required.
				} @else if (this.form.controls['body'].errors?.['minlength']) {
					<span>Minimum length is {{ this.form.get('body')?.errors?.['minlength']?.requiredLength }} characters.</span>
				}
			</small>
		}
		<label for="tags" id="tags-label">Tags</label>
		<input id="tags" type="text" formControlName="tags" placeholder="comma, separated, tags"/>

		<button [disabled]="this.form.invalid || this.creating" type="submit">
			{{ this.creating ? 'Creating...' : 'Create' }}
		</button>

		<button type="button" (click)="onCancel()" class="btn-three">
			Cancel
		</button>

		@if (this.error) {
			<p style="color:#b00020">{{ error }}</p>
		}
	</form>
</section>
