<form (ngSubmit)="submit()" [formGroup]="this.form">

	<div>
		<label for="email">Email</label>
		<input formControlName="email" type="email" id="email" [class.is-invalid]="this.form.get('email')?.invalid && this.form.get('email')?.touched"/>
		@if (this.form.get('email')?.touched && this.form.get('email')?.invalid) {
			<small>
				@if (this.form.get('email')?.errors?.['required']) {
					<span>Email is required.</span>
				} @else if (this.form.get('email')?.errors?.['email']) {
					<span>Enter a valid email.</span>
				} @else if (this.form.get('email')?.errors?.['emailTaken']) {
					<span>This email is already taken.</span>
				}
			</small>
		}
	</div>

	<div>
		<label for="displayName">Display name</label>
		<input formControlName="displayName" type="text" id="displayName" [class.is-invalid]="this.form.get('displayName')?.invalid && this.form.get('displayName')?.touched"/>
		@if (this.form.get('displayName')?.touched && this.form.get('displayName')?.invalid) {
			<small>
				@if (this.form.get('displayName')?.errors?.['required']) {

					<span>Display name is required.</span>
				} @else if (this.form.get('displayName')?.errors?.['minlength']) {
					<span>Minimum length is {{ this.form.get('displayName')?.errors?.['minlength'].requiredLength }} characters.</span>
				} @else if (this.form.get('displayName')?.errors?.['displayNameTaken']) {
					<span>This display name is already taken.</span>
				}

			</small>
		}
	</div>

	<div [formGroup]="passwords">
		<div>
			<label>Password</label>
			<input formControlName="password" type="password" id="password" [class.is-invalid]="(this.form.get('passwords.password')?.invalid && this.form.get('passwords.password')?.touched) || this.form.get('passwords')?.errors"/>
			@if (this.form.get('passwords.password')?.touched && this.form.get('passwords.password')?.invalid) {
				<small>
					@if (this.form.get('passwords.password')?.errors?.['required']) {
						<span>Password is required.</span>
					} @else if (this.form.get('passwords.password')?.errors?.['minlength']) {
						<span>Minimum length is {{ form.get('passwords.password')?.errors?.['minlength']?.requiredLength }} characters.</span>
					}
				</small>
			}
		</div>
		<div>
			<label>Repeat Password</label>
			<input formControlName="repeat" type="password" id="repeatPassword" [class.is-invalid]="(this.form.get('passwords.repeat')?.invalid && this.form.get('passwords.repeat')?.touched) || this.form.get('passwords')?.errors"/>
			@if (this.form.get('passwords.repeat')?.touched && this.form.get('passwords.repeat')?.invalid) {
				<small>
					@if (this.form.get('passwords.repeat')?.errors?.['required']) {
						<span>Repeat password is required.</span>
					}
				</small>
			} @else if (this.form.get('passwords')?.errors?.['noMatch'] &&
			(this.form.get('passwords.repeat')?.touched || this.form.get('passwords.password')?.touched)) {
				<small>
					<span>Passwords do not match.</span>
				</small>
			}
		</div>


	</div>

	<button [disabled]="saving || this.form.invalid || this.form.get('displayName')?.pending || this.form.get('email')?.pending" type="submit">
		{{ saving ? 'Creating account...' : 'Register' }}
	</button>


	@if (this.error) {
		<p style="color:#b00020">{{ this.error }}</p>
	}
</form>
