@if (!(this.loading$ | async)) {
	<div class="posts-list-container">
		@if (this.error) {
			<p class="error-message">{{ this.error }}</p>
		} @else {
			@if (this.posts.length > 0) {
				@for (post of posts; track post.id) {
					<div class="post-item">
						<p>{{ post.body }}</p>
						<small>
							Posted on: {{ post.createdAt.toDate() | date:'medium' }}
						</small>
						@if (this.postInThread) {
							<a [routerLink]="['/profile', post.authorId]" class="title">Author: {{ post.authorName }}</a>
						}
						@if (post.authorId === currentUid) {
							<a [routerLink]="['/posts', post.id, 'edit']" class="title edit-btn">Edit post</a>
							<app-post-delete [postId]="post.id" (deleting)="onDeleting()" (postDeleted)="onPostDeleted($event)">
							</app-post-delete>
						}
						@if (!this.postInThread) {
							<a [routerLink]="['/threads', post.threadId]" class="title">Go to thread</a>
						}
					</div>
				}
				@if (this.postsLimited) {
					<a [routerLink]="['/profile', this.profileCardUser!.uid, 'posts']" class="title">View all posts by user</a>
				}
			} @else {
				<p>No posts found.</p>
			}
		}
	</div>
}